<div>
    <button (click)="onAddRowButtonClicked()"><mat-icon aria-hidden="false" aria-label="Insert" fontIcon="plus_one"></mat-icon></button>
    <button (click)="onEditButtonClicked()"><mat-icon aria-hidden="false" aria-label="Update" fontIcon="edit"></mat-icon></button>
    <button (click)="onDeleteButtonClicked()"><mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete"></mat-icon></button>
    <button (click)="onClearSelectionClicked()"><mat-icon aria-hidden="false" aria-label="Clear Selection" fontIcon="check_box_outline_blank"></mat-icon></button>
</div>
